p {
	display: inline-block;
}

.redBorder {
    border: 1px solid red;
}

.greenBorder {
    border: 1px solid blue;
}

.bgRed {
    background-color: red;
}

.bgGreen {
    background-color: green;
}

/* ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
} */

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}